body, html 
	margin: 0
	padding: 0
	overflow: hidden

h1
	position: absolute;
	text-align: right;
	margin: 0;
	font-family: verdana;
	font-weight: normal;
	font-size: 2em;
	color: #ffffff;
	display: none;

	right: 8em;
	top: 4em;
